#requestingCameraPermissions {
  color: black;
  background-color: white;
}
#requestingCameraIcon {
  /* This changes the image from white to black */
  filter: invert(1);
}

.prompt-box-8w {
  background-color: white;
  color: #0f0;
}
.prompt-button-8w {
  background-color: #00f;
}

.button-primary-8w {
  background-color: #7611b7;
}
