@import '@/assets/scss/variables.scss';
.marker {
  background-image:url('/img/1.jpg');
  background-size:contain;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid $secondary-color;
  cursor: pointer;
}