// color set
$base-color: #f3ebd8;
$primary-color: #929d49;
$secondary-color: #f6c521;
$dark-base-color: #3c230d;
$success-color: #34bdae;
$error-color: #ea2c62;
$logo-type-green: rgb(146, 156, 78);

// z-indexes
$header-zindex: 100;
$modal-zindex: 9998;
$splash-zindex: 9999999998;
$top-menu-zindex: 40;

// height
$header-height: 50px;
