// color set
$base-color: #f3ebd8;
$primary-color: #929d49;
$secondary-color: #f6c521;
$dark-base-color: #3c230d;
$success-color: #34bdae;
$error-color: #ea2c62;

// z-indexes
$header-zindex: 100;
$modal-zindex: 9998;
